* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(270deg,rgb(37, 33, 249),rgb(8, 2, 124),black,rgb(37, 33, 249),rgb(8, 2, 124));
    background-size: 600% 600%;
    animation: bg 12s ease infinite;
    opacity: 0;
    transition: 0.6s;
}

body.loaded {
    opacity: 1;
}

@keyframes bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* NAVBAR */
.navbar {
    background: #fff;
    padding: 10px 0;
}

.logo {
    font-family: 'Cinzel', serif;
    font-size: 28px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

.nav-item {
    cursor: pointer;
    font-weight: 600;
    position: relative;
}

.login-btn {
    border: 1px solid #000;
    padding: 6px 18px;
    border-radius: 20px;
}

/* PROMO */
.promo-strip {
    margin-top: 70px;
    background: rgba(241, 198, 198, 0.85);
    text-align: center;
    padding: 6px;
}

/* HERO / BLUE / RULES COMMON */
.hero-inner,
.blue-inner,
.rules-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* background: rgba(0,0,0,0.35); */
    padding: 50px;
    border-radius: 100px;
    color: #fff;
    height: 600px;
    background: linear-gradient(to top,white,blue,rgb(2, 2, 2),blue,white);
    border: 10px double whitesmoke;
}

.hero-section,
.blue-section,
.rules-section {
    padding: 80px 0;
}

.hero-text,
.blue-text,
.rules-text {
    flex: 1;
    margin-left: 60px;
}

.hero-text h1,
.blue-text h2,
.rules-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}

.hero-text ul li::before {
    content: "✓ ";
    color: gold;
}
/* BRAND SECTION */
.brand-section {
    padding: 90px 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
}

.brand-title {
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.brand-subtitle {
    font-size: 16px;
    opacity: 0.85;
    margin-bottom: 50px;
}

.brand-logos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 50px;
    font-size: large;

}

.brand-logos img {
    height: 80px;
    object-fit: contain;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.85;
}

.brand-logos img:hover {
    transform: scale(1.1);
    opacity: 1;
}


/* IMAGES */
.hero-image,
.blue-image,
.rules-image {
    flex: 0.6;
}

.hero-image img,
.blue-image img,
.rules-image img {
    width: 100%;
    max-width: 480px;
    height: 500px;
    object-fit: cover;
    border-radius: 100px;
    border: solid black;
}

/* BUTTON */
.btn-start {
    margin-top: 20px;
    background: linear-gradient(135deg,#ff7a18,#e52e71);
    border: none;
    color: #fff;
    padding: 14px 34px;
    border-radius: 30px;
}

/* HOW */
.how-section {
    background: linear-gradient(to top,white,orange,white);
    padding: 80px 0;
}

.how-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.how-card img {
    width: 220px;
    height: 260px;
    border-radius: 18px;
}

/* FOOTER */
.footer {
    background:linear-gradient(to top,white,gold,rgb(250, 154, 1),gold,white);
    padding: 60px 0;
    color: #080808;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

/* ANIMATION */
[data-animate] {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.7s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
